.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #1f77b4;
}

.card {
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.co2 { background: linear-gradient(45deg, #ff4b2b, #ff416c); }
.temp { background: linear-gradient(45deg, #ff9966, #ff5e62); }
.rain { background: linear-gradient(45deg, #36d1dc, #5b86e5); }
.renew { background: linear-gradient(45deg, #11998e, #38ef7d); }